.container {
  padding: 32px 16px;
}

.title {
  font-weight: 700;
  color: #1976d2;
  margin-bottom: 16px;
}

.emptyText {
  text-align: center;
  color: #aaa;
  margin-top: 32px;
  font-style: italic;
}

.quoteBox {
  margin-bottom: 24px;
}